<% if @cart.items.empty? %>
  <h3 class="emptyCart"> Your cart is empty..<br/> Go <%= link_to "back", items_path %>? </h3>
<% else %>
  <div class="divCart">

    <table class="tableView">

      <tr class="thAndtdView">
        <th>Item id </th>
        <th>Image</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Popularity</th>
        <th>Remove?</th>
        <th>Price per item</th>
        <th>Quantity</th>
        <th>Total for item</th>
      </tr>

      <% @cart.items.each do |i| %>
          <tr class="thAndtdView">
            <td><%= i.id%></td>
            <td><%= image_tag(i.image_url(:thumb).to_s)%></td>
            <td><%= i.name %></td>
            <td><%= i.weight %></td>
            <td><%= i.votes_count %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-remove"></span> '.html_safe,
                            remove_item_cart_path(i) %></td>
            <td><%= i.price %></td>
            <td><%= @cart.get_quantity(i.id) %></td>
            <td><%= get_total_for(i) %></td>
          </tr>
      <% end %>
      <tr>
        <td style = "visibility: hidden;"></td>
        <td style = "visibility: hidden;"></td>
        <td style = "visibility: hidden;"></td>
        <td style = "visibility: hidden;"></td>
        <td style = "visibility: hidden;"></td>
        <td style = "visibility: hidden;"></td>
        <td style = "visibility: hidden;"></td>
        <td style = "visibility: hidden;"></td>
        <td><%= '<span class="glyphicon glyphicon-list-alt"></span> '.html_safe%>
          <%= get_full_price(@cart.items) %>
        </td>
      </tr>


    </table>
    <div class="alignCenter"><a href="/<%=I18n.locale%>/cart">
      <%= link_to '<button type="button" class="btn btn-success">Buy it!</button>'.html_safe,
                  cart_index_url(:format => :pdf) %>
    </a>
    </div>
  </div>
<% end %>
