<div align="center" style="margin: auto;
    margin-top:7%;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;">
  <h2>Welcome!</h2>

<%= form_for $current_user do |f| %>

  <div><%= f.label :login %></div>
  <%= f.text_field :login %><br />

  <br />

  <div><%= f.label :password %></div>
  <%= f.password_field :password %> <br />

  <br />

  <div><%= f.submit "Submit" %><br/></div>

<% end %>

<br/>

</div>
