<h1 class="alignCenter"><%= t("user.userInfo")%>:</h1>
<div class="userInfo">
   <!-- Reserved if localhost-->
    <h3><%= t("user.country")%>: <%= request.location.country %></h3>
    <h2><%= t("activerecord.attributes.user.login") %>: <%= @user.login %></h2>
    <h2><%= t("activerecord.attributes.user.password")%>:
    <% @user.password.length.times do %>
      <a>*</a>
    <% end %>
    </h2>
    <div class="remDivUser">
      <p class="alignCenter">
       <%= t('user.pressBtn')%> <br/>
      <% i = @user.id %>
      <div class="btn btn-warning">
        <%= link_to "Delete", user_path(i), method: :delete, data: { confirm: "Are you want to delete?"} %>
      </div>
      </p>
    </div>
</div>
