<p>Name: <br/><%= f.text_field :name %></p>
<p>Price: <br/><%= f.text_field :price %></p>
<p>Description: <br/><%= f.text_area :description %></p>
<p>Weight: <br/><%= f.text_field :weight %></p>
<p>Pin an image: <br/><%= f.file_field :image %></p>
