<h1 class="alignCenter" id="top">Items</h1>

<% if @items.empty? %>

    <p> No items</p>

<% else %>

  <h4 class="alignCenter"><%= link_to "Show expensive Items", expensive_items_path%></h4>

<table class="tableView">

    <tr class="thAndtdView">
        <th>Item Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created_at</th>
        <th>Remove?</th>
        <th>Rating</th>
    </tr>

    <% @items.each do |i| %>

    <tr class="thAndtdView">
        <td><%= i.id %></td>
        <td>
          <%= image_tag(i.image_url(:thumb).to_s) %>
          <h2 class="dropUnderline"><%= link_to i.name, item_path(i) %></h2>
        </td>
        <td><%= i.price %> uah</td>
        <td><%= i.created_at %></td>
        <td><%= link_to "Delete", item_path(i), method: :delete, data: { confirm: "Are you want to delete?"} %></td>
        <td>Rating: <%= i.votes_count %>, <%= link_to "+",
        upvote_item_path(i) %></td>
    </tr>
    <% end %>
</table>
<% end %>
<a href="#" class="pointPosition"><img src="point.png" width="90" height="120" alt="return"></a>
