<h1 class="alignCenter" id="top"><%= t('item.heading')%></h1>

<% if @items.empty? %>

    <p class="alignCenter"> No items </p>

<% else %>

<div class="filterForm">
  <%= simple_form_for :search, :method => :get do |f| %>
      <%= f.input :price_from, as: :range, required: false,
                input_html: {min: 0, max: @maxPrice, step: '1', value: 0 }%>
      <%= f.input :price_to, as: :range, required: false,
                input_html: {min: 0, max: @maxPrice, step: '1', value: @maxPrice } %>
      <%= f.input :votes_from, as: :range, required: false,
                input_html: {min: 0, max: @maxVotes, step: '1', value: 0 } %>
      <%= f.input :votes_to, as: :range, required: false,
                input_html: {min: 0, max: @maxVotes, step: '1', value: @maxVotes } %>
    <p><%= f.submit "Find"%></p>
  <% end %>
</div>

<div class="createItemBtn">
  <a href="/<%=I18n.locale%>/items/new"><button type="button" class="btn btn-default">Create Item</button></a>
</div>

  <table class="tableView">
    <tr class="thAndtdView">
        <th> Id </th>
        <th><%= t("activerecord.attributes.item.name") %></th>
        <th><%= t("activerecord.attributes.item.price") %></th>
        <th><%= t("item.created?") %></th>
        <th><%= t("item.remove?") %></th>
        <th><%= t("item.rating") %> </th>
    </tr>
    <% @items.each do |i| %>
      <tr class="thAndtdView">
          <td><%= i.id %></td>
          <td>
            <%= image_tag(i.image_url(:thumb).to_s) %>
            <h2 class="dropUnderline"><%= link_to i.name, item_path(i) %></h2>
          </td>
          <td><%= i.price %> <%= t("item.price") %></td>
          <td><%= i.created_at.strftime('%Y-%m-%d') %></td>
          <td><i class="material-icons navbar-text">
            <%= link_to "delete", item_path(i), method: :delete, data: { confirm: t("item.sure?")} %>
          </i></td>
          <td><%= t("item.rating") %> <%= i.votes_count %>, <%= link_to "+",
          upvote_item_path(i) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<a href="#" class="pointPosition">
  <%= image_tag("/top.png", height: '90', width: '90') %>
</a>
