<h1><%= @item.name %></h1>

<ul>
    <li><%  if @item.image_url%>
          <%= image_tag(@item.image_url.to_s, size: "220x170") %>
        <% else %>
           No file chosen to show given item!
        <% end %>
    </li>
    <li><%= @item.price %>.uah</li>
    <li><%= @item.weight %>.kg</li>
    <li><%= urls_to_links(urls_to_images(@item.description)) %></li>
</ul>

<br/>

<h2 class="dropUnderline"><%= link_to "Edit", edit_item_path(@item) %></h2>
