<div class="alignCenter showItem">

  <h1><%= @item.name %><h4><%= link_to t("item.edit"), edit_item_path(@item) %>
    /
    <%= link_to "Delete", item_path(@item), method: :delete,
     data: { confirm: t("item.sure?")} %>
  </h4></h1>

  <div class="showImage">
    <%  if @item.image_url%>
          <%= image_tag(@item.image_url.to_s, size: "370x310") %>
        <% else %>
           No file chosen to show given item!
    <% end %>
  </div>

  <div class="itemDesc">
    <ul style="list-style:none">
      <li>Price: <%= @item.price %> <%= t("item.price") %></li>
      <br/>
      <li>Weight: <%= @item.weight %> <%=t("item.weight") %></li>
      <br/>
      <li>Description: <%= urls_to_links(urls_to_images(@item.description)) %></li>
    </ul>
  </div>
    <br/>
<div>
