<nav class="navbar navbar-default navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/<%=I18n.locale%>/">
        <%= image_tag '/faviconNav.ico', height: '60', width: '50' %>
      </a>

      <a class="navbar-brand" href="/<%=I18n.locale%>/"><strong>My Store</strong></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
             <li class="navbar-text">
               <p>
                 <%= link_to_unless I18n.locale == :en, "En", locale: :en %>
                 |
                 <%= link_to_unless I18n.locale == :ua, "Ua", locale: :ua %>
               </p>
             </li>
            <% if user_signed_in? %>
              <li>
                   <%= link_to('<span class="glyphicon glyphicon-shopping-cart"></span> '.html_safe + "Cart",
                    cart_index_path) %>
              </li>
              <li>
                   <%= link_to('<span class="glyphicon glyphicon-cog"></span> '.html_safe + current_user.email,
                    edit_user_registration_path) %>
              </li>
              <li>
                   <%= link_to('<span class="glyphicon glyphicon-off"></span> Log out'.html_safe,
                    destroy_user_session_path, method: :delete) %>
              </li>
            <% else %>
              <li>
                  <%=link_to('<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe,
                   new_user_session_path)%>
              </li>
              <li>
                  <%=link_to('<span class="glyphicon glyphicon-saved"></span> Register'.html_safe,
                   new_user_registration_path)%>
              </li>
            <% end %>
       </ul>
    </div>
  </div>
</nav>
