<!DOCTYPE html>
<html>
  <head>
    <title>MyStore</title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% flash.each do |key, value| %>
        <h4><div  class="flashDiv" class="alert alert-<%= key %>"><%= value %></div></h4>
      <% end %>
    </div>
    <% unless current_page?(new_user_path) || current_page?(root_path) %>
      <div class="signInOutForm">
        <% if $current_user == nil %>
              <h2><%= link_to "Sign in", new_user_url %></h2>
        <% else %>
              <% if $current_user.login == nil || $current_user.login.empty? %>
                  <h2><%= link_to "Sign in", new_user_url %></h2>
              <% else %>
                    <h2><%= $current_user.login %> | <%= link_to "Sign out", root_path %></h2>
              <% end %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
