<!DOCTYPE html>
<html>
  <head>
    <title>MyStore</title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div>
      <% flash.each do |key, value| %>
        <h4><div  class="flashDiv" class="alert alert-<%= key %>"><%= value %></div></h4>
      <% end %>
    </div>

    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
